@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Display";
	src: url("./assets/fonts/SFNS-Display-Regular.ttf");
	font-weight: medium;
	font-style: normal;
}

@font-face {
	font-family: "Display-Thin";
	src: url("./assets/fonts/SFNS-Display-Thin.ttf");
	font-weight: lighter;
	font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a {
	@apply transition-all;
}

/* .lazy { display: none; } */

.loader-container {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #174985;
    z-index: 90;
}
.spinner {
    width: 64px;
    height: 64px;
    border: 3px solid;
    border-color: #fff transparent #fff transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.discover-bg {
	background-image: url("./assets/img/section-bg-02.png");
	background-position-y: bottom;
	width: 100%;
	background-repeat: no-repeat;
}
.triangle-bg {
	background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #EFEFEF 50%, #EFEFEF 100%);
}
.triangle-bg.triangle-bg-inside {
	background: none;
}
.gradient-bg {
	background: linear-gradient(312.51deg, #3DC0CB 0%, #0AA4D9 22.04%, #0F4B90 82.79%, #122336 100%);
}

@media screen and (max-width: 768px){
	.discover-bg {
		background-position-x: 48%;
	}
	.triangle-bg{
		background:none;
	}
	.triangle-bg.triangle-bg-inside {
		background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #EFEFEF 50%, #EFEFEF 100%);
	}
}

@media screen and (max-width: 1024px){
	.discover-bg {
		background-position-x: 48%;
		background-position-y: 85%;
	}
}
